<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>AutoTweet</title>
    <script src="/config/jquery-3.2.1.min.js"></script>
	<script src="/config/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/styles/bootstrap.min.css"/>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body>

<!-- Needed to get categories/messages here, EJS doesn't seem to work right in <script> section -->
<div id="userTwitterData" twitterDataValue='<%= userJSON %>'</div>
<script>
  var string1 = $("#userTwitterData").attr("twitterDataValue");
  usersTweets = JSON.parse(string1);
</script>

            <nav class="navbar navbar-inverse" role="navigation" style="">
                <ul class="nav navbar-nav">
                  <li><img src="/images/TieSmall.png" alt="Automated Twitter Manager" style="width:48px;height:48px;"></img></li>
                    <li><a href="/profile">Home</a></li>
                    <li class="active"><a href="">Post To Twitter<span class="sr-only">(current)</span></a></li>
                    <li><a href="/settings">Settings</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" style="">
                  <li><a href="/logout"><span class="fa fa-user" style="margin-right: 6px;"></span>Logout</a></li>
                </ul>
            </nav>

<div class="container">
  <div class="page-header text-center">
    <h1><span class="fa fa-twitter"></span> Post to Twitter</h1>
  </div>
</div>

<div class="container">
  <!-- MANUAL TWEET -->
  <form method="post" action="/postTweet">
    <div class="form-group row">
      <label for="tweetInput" class="col-sm-2 col-form-label col-form-label-lg">Manual Tweet</label>
	</div>
	<div class="form-group row">
      <div class="col-sm-9">
        <textarea class="form-control" rows="3" id="tweetInput" name="tweetInput"
		placeholder="Type your tweet in here"></textarea>
      </div>
	  <div class="col-sm-1">
        <button type="submit" class="btn btn-primary">Post</button>
      </div>
    </div>
  </form>

  <div class="col-sm-12" style="height:50px;"></div>  <!-- white space -->

  <!-- CREATE CATEGORY -->
  <form method="post" action="/saveCategory">
    <div class="form-group row">
      <label for="categoryInput" class="col-sm-2 col-form-label col-form-label-lg">Create Category</label>
      <div class="col-sm-4">
        <input type="text" class="form-control form-control-lg" id="categoryInput" name="categoryInput"
		placeholder="Type your new category here">
      </div>
	  <div class="col-sm-1">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </div>
  </form>

  <div class="col-sm-12" style="height:50px;"></div>  <!-- white space -->

  <!-- DELETE CATEGORY -->
  <form method="post" action="/deleteCategory">
    <div class="form-group row">
	  <label for="selectDeleteCategory" class="col-sm-2 col-form-label col-form-label-lg">Delete Category</label>
	  <div class="col-sm-4">
        <select class="form-control" id="selectDeleteCategory" name="selectDeleteCategory">
		  <option value="">Please select catagory to be deleted</option>
	      <% for(var i=0; i < user.twitter.tweets.categories.length; i++) { %>
          <option value="<%= user.twitter.tweets.categories[i].name %>">
		  <%= user.twitter.tweets.categories[i].name %></option>
	      <% } %>
        </select>
      </div>
	  <div class="col-sm-1">
        <button type="submit" class="btn btn-primary">Delete</button>
      </div>
    </div>
  </form>

  <div class="col-sm-12" style="height:50px;"></div>  <!-- white space -->

  <!-- SAVE TWEET -->
  <form method="post" action="/saveTweet">
    <div class="form-group row">
      <label for="saveTweetCategory" class="col-sm-3 col-form-label col-form-label-lg">
	  Save Tweet to Database</label>
	  <% for(var i=0; i < user.twitter.tweets.categories.length; i++) { %>
	  <label class="radio-inline"><input type="radio" id="saveTweetCategory" name="saveTweetCategory"
	  value="<%= user.twitter.tweets.categories[i].name %>">
	  <%= user.twitter.tweets.categories[i].name %></label>
	  <% } %>
	</div>
	<div class="form-group row">
	  <div class="col-sm-9">
	    <textarea class="form-control" rows="3" id="saveTweetInput" name="saveTweetInput"
		placeholder="Type your tweet in here"></textarea>
      </div>
	  <div class="col-sm-1">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
	</div>
  </form>

  <div class="col-sm-12" style="height:50px;"></div>  <!-- white space -->

  <!-- POST TWEET FROM DATABASE -->
  <form method="post" action="/saveTweet">
    <div class="form-group row">
      <label for="postTweetCategory" class="col-sm-3 col-form-label col-form-label-lg">
	  Post Tweet From Database</label>
	  <% for(var i=0; i < user.twitter.tweets.categories.length; i++) { %>
	  <label class="radio-inline"><input type="radio" name="postTweetCategory"
	  value="<%= user.twitter.tweets.categories[i].name %>">
	  <%= user.twitter.tweets.categories[i].name %></label>
	  <% } %>
	</div>
	<div class="form-group row">
      <select class="form-control" id="selectSavedTweet" name="selectSavedTweet">
      </select>
	  <div class="col-sm-1">
        <button type="submit" class="btn btn-primary">Post</button>
      </div>
	</div>
  </form>

<script>
  var selectedCategory = "";
  $('input:radio[name="postTweetCategory"]').change(function() {  // when category is changed..
	selectedCategory = this.value;  // store the name of the catagory selected
	var mySelect = document.getElementById('selectSavedTweet');
	mySelect.options.length = 0;  // clear all but initial option
	for (var i=0; i < usersTweets.length; i++) {
	  if (usersTweets[i].name == selectedCategory) {
	    for (var j=0; j < usersTweets[i].messages.length; j++) {
		  mySelect.options[j] = new Option (usersTweets[i].messages[j].body,
		  usersTweets[i].messages[j].body);
		}
	  }
	}
  });
</script>

</body>
</html>
