<!doctype html>
<html>
<head>
    <title>Team1107</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body>
            <nav class="navbar navbar-inverse" role="navigation" style="">
                <ul class="nav navbar-nav">
                  <li><img src="/images/TieSmall.png" alt="Automated Twitter Manager" style="width:48px;height:48px;"></img></li>
                    <li><a href="/profile">Home</a></li>
                    <li><a href="/post">Post To Twitter</a></li>
                    <li class="active"><a href="">Settings<span class="sr-only">(current)</span></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" style="">
                  <li><a href="/logout"><span class="fa fa-user" style="margin-right: 6px;"></span>Logout</a></li>
                </ul>
            </nav>

<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-cog"></span>Settings</h1>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-12">
            <div class="well">
                <h3><span class="fa fa-user"></span><%= user.local.email %></h3>
					<% if (user.local.email) { %>
						<p>
							<strong>Local ID</strong>: <%= user._id %><br>
							<strong>Email</strong>: <%= user.local.email %><br>
							<strong>Password (Encrypted)</strong>: <%= user.local.password %>
						</p>
						
						<a href="/unlink/local" class="btn btn-default">Unlink</a>
					<% } else { %>
						<a href="/connect/local" class="btn btn-default">Connect Local</a>
					<% } %>
            </div>
        </div>
    </div>
	
	<div class="row">
		
		<!-- TWITTER INFORMATION -->
        <div class="col-sm-12">
            <div class="well">
                <h3 class="text-info"><span class="fa fa-twitter"></span> Twitter</h3>

                <!-- check if the user has this token (is the user authenticated with this social account) -->
                <% if (user.twitter.token) { %>
                    <p>
                        <strong>Twitter ID</strong>: <%= user.twitter.id %><br>
                        <strong>Twitter Token</strong>: <%= user.twitter.token %><br>
                        <strong>Twitter Display Name</strong>: <%= user.twitter.displayName %><br>
                        <strong>Twitter Username</strong>: <%= user.twitter.username %>
                    </p>

                    <a href="/unlink/twitter" class="btn btn-info">Unlink</a>
                <% } else { %>
                    <a href="/connect/twitter" class="btn btn-info">Connect Twitter</a>
                <% } %>

            </div>
        </div>
		
		<!-- Save Twitter Account -->
            <div class="col-sm-12" style="height:50px;"></div>

            <form method="post" action="/saveTwitterAccount">
              <div class="form-group row">
                <label for="categoryInput" class="col-sm-2 col-form-label col-form-label-lg">Twitter Account</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control form-control-lg" id="categoryInput" name="TwitterAccountInput"
              placeholder="Twitter Username">
                </div>
              <div class="col-sm-1">
                  <button type="submit" class="btn btn-primary">Update</button>
                </div>
              </div>
            </form>

            <form method="post" action="/saveTwitterPassword">
              <div class="form-group row">
                <label for="categoryInput" class="col-sm-2 col-form-label col-form-label-lg">Twitter Password</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control form-control-lg" id="categoryInput" name="TwitterPasswordInput"
              placeholder="Twitter Password">
                </div>
              <div class="col-sm-1">
                  <button type="submit" class="btn btn-primary">Update</button>
                </div>
              </div>
            </form>

            <div class="col-sm-12" style="height:50px;"></div>  <!-- white space -->

            <!-- CREATE CATEGORY -->
            <form method="post" action="/saveCategory">
              <div class="form-group row">
                <label for="categoryInput" class="col-sm-2 col-form-label col-form-label-lg">Create Category</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control form-control-lg" id="categoryInput" name="categoryInput"
          		placeholder="Type your new category here">
                </div>
          	  <div class="col-sm-1">
                  <button type="submit" class="btn btn-primary">Create</button>
                </div>
              </div>
            </form>



            <!-- DELETE CATEGORY -->
            <form method="post" action="/deleteCategory">
              <div class="form-group row">
          	  <label for="selectDeleteCategory" class="col-sm-2 col-form-label col-form-label-lg">Delete Category</label>
          	  <div class="col-sm-4">
                  <select class="form-control" id="selectDeleteCategory" name="selectDeleteCategory">
          		  <option value="">Please select catagory to be deleted</option>
          	      <% for(var i=1; i < user.twitter.tweets.categories.length; i++) { %>
                    <option value="<%= user.twitter.tweets.categories[i].name %>">
          		  <%= user.twitter.tweets.categories[i].name %></option>
          	      <% } %>
                  </select>
                </div>
          	  <div class="col-sm-1">
                  <button type="submit" class="btn btn-primary">Delete</button>
                </div>
              </div>
            </form>


    </div>

</div>
</body>
</html>
